@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 208.24 41.46% 8.04%;
        --card: 0 0% 100%;
        --card-foreground: 208.24 41.46% 8.04%;
        --popover: 0 0% 100%;
        --popover-foreground: 208.24 41.46% 8.04%;
        --primary: 220.9 39.3% 11%;
        --primary-foreground: 210 20% 98%;
        --secondary: 220 14.3% 95.9%;
        --secondary-foreground: 220.9 39.3% 11%;
        --muted: 220 14.3% 95.9%;
        --muted-foreground: 220 8.9% 46.1%;
        --accent: 220 14.3% 95.9%;
        --accent-foreground: 220.9 39.3% 11%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 20% 98%;
        --border: 220 13% 91%;
        --input: 220 13% 91%;
        --ring: 208.24 41.46% 8.04%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 208.24 41.46% 8.04%;
        --foreground: 210 20% 98%;
        --card: 208.24 41.46% 8.04%;
        --card-foreground: 210 20% 98%;
        --popover: 208.24 41.46% 8.04%;
        --popover-foreground: 210 20% 98%;
        --primary: 210 20% 98%;
        --primary-foreground: 220.9 39.3% 11%;
        --secondary: 215 27.9% 16.9%;
        --secondary-foreground: 210 20% 98%;
        --muted: 215 27.9% 16.9%;
        --muted-foreground: 217.9 10.6% 64.9%;
        --accent: 215 27.9% 16.9%;
        --accent-foreground: 210 20% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 20% 98%;
        --border: 215 27.9% 16.9%;
        --input: 215 27.9% 16.9%;
        --ring: 216 12.2% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

pre {
    @apply !px-0 rounded-lg;
}

code {
    @apply text-sm md:text-base !leading-loose;
}

pre > code {
    counter-reset: line;
    @apply rounded-b-lg px-0;
}

[data-rehype-pretty-code-figure] > pre > code {
    @apply !px-0 font-fira text-sm;
}

code[data-theme*=' '],
code[data-theme*=' '] span {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
}

@media (prefers-color-scheme: dark) {
    code[data-theme*=' '],
    code[data-theme*=' '] span {
        color: var(--shiki-dark);
        background-color: var(--shiki-dark-bg);
    }
}

code[data-line-numbers] {
    counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
    counter-increment: line;
    content: counter(line);
    @apply inline-block w-4 mr-4 text-right text-gray-500;
}

pre [data-line] {
    @apply px-4 border-l-2 border-l-transparent;
}

pre [data-line] mark {
    @apply bg-white/20;
}

[data-highlighted-line] {
    background: rgba(200, 200, 255, 0.1);
    @apply border-l-blue-400;
}

[data-highlighted-chars] {
    @apply bg-zinc-600/50 rounded;
    box-shadow: 0 0 0 4px rgb(82 82 91 / 0.5);
}

[data-chars-id] {
    @apply shadow-none p-1 border-b-2;
}

[data-chars-id] span {
    @apply !text-inherit;
}

[data-chars-id='v'] {
    @apply !text-pink-300 bg-rose-800/50 border-b-pink-600 font-bold;
}

[data-chars-id='s'] {
    @apply !text-yellow-300 bg-yellow-800/50 border-b-yellow-600 font-bold;
}

[data-chars-id='i'] {
    @apply !text-purple-200 bg-purple-800/50 border-b-purple-600 font-bold;
}

[data-rehype-pretty-code-figure] > pre > code {
    @apply py-4 bg-code;
}

[data-rehype-pretty-code-title] {
    @apply text-white py-3 border-b border-background px-4 rounded-t-lg font-semibold bg-code;
}

[data-rehype-pretty-code-figure] {
    @apply overflow-auto rounded-md;
}
